.lwbuttondiv {
    background-color: "yellow";
    z-index: 999;
    position: fixed;
    top: 0%;
    left: 50%;
    background-color: transparent;
    
    /* bring your own prefixes 
    transform: translate( 0%, -50%); */
}